/*
    메인페이지에서만 호출
    메인에 필요한 다른 css를 부름
*/
@import url(default.css);
@import url(common.css);
@import url(fonts.css);
@import url(layout.css);

h2{
    font-size: var(--font-size-tit);
    font-weight: var(--font-weight-bold);
    color: var(--font-color-tit);
    line-height: var(--line-height-tit);
}
.wrapper{
    border: 1px solid red;
}