@import url(default.css);
@import url(pretendard.css);
@import url(common_res.css);

section h2{
    font-size: var(--font-size-tit);
    font-weight: var(--font-weight-tit);
    line-height: var(--line-height-tit);
    color: var(--color-tit);
    margin: 3em 0 0.3em 0;
    /* em은 지금 요소의 글자크기를 1em으로 보고 계산 */
}
/*
    <h2></h2>
    <p></p>   이렇게 코딩된경우 (즉 p태그가 있는 경우)
*/
section h2 + p{
    margin: 0 0 var(--font-size-tit) 0;
}
/*
    <h2></h2>
    <div class="list"></div>  이렇게 코딩된 경우 (즉 p태그 없는 경우)
*/
section h2 + .list{
    margin: var(--font-size-tit) 0 0 0;
}

.svg_bg .list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 5rem;
}
.svg_bg .list .more{
    display: block;
    border: 1px solid var(--color-main);
    color: var(--color-main);
    font-size: clamp(1.6rem, 2.5vw, 3rem); /* 글자크기만 rem단위 사용 */
    font-weight: var(--font-weight-tit);
    /* 글자크기는 rem주고 여백등의 다른 단위는 em으로 줌
       현재 요소의 글자크기를 1em으로 환산한 단위 */
    border-radius: 1.3333em;
    padding: 0.6333em 2.8333em 0.5333em 1.8em;
    position: relative; /* after 정렬의 기준 */
}
.svg_bg .list .more::after{
    content: "";
    position: absolute;
    right: 1.7667em;
    top: 1em;
    width: 0.7em; /* 아이콘 사이즈 */
    height: 0.7em;
    background: url(../images/icon_more.svg) no-repeat center center / contain;
}
.svg_bg .list .more:hover{
    color: var(--color-sub);
    border-color: var(--color-sub);
}
.svg_bg .list .more:hover::after{
    background-image: url(../images/icon_more_over.svg);
}
.svg_bg .list .lang{
    color: var(--color-main);
    font-size: clamp(1.6rem, 2.5vw, 3rem); /* 글자크기만 rem단위 사용 */
    font-weight: var(--font-weight-tit);
    padding: 0 0 0 1.5em; /* 앞에 아이콘 들어갈 자리를 여백으로 */
    position: relative; /* before 정렬의 기준 */
}
.svg_bg .list .lang::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    /* 위아래 가운데 */
    width: 1.0667em; /* 아이콘 크기 */
    height: 1.0667em;
    background: url(../images/icon_lang.svg) no-repeat center center / contain;
}
.svg_bg .list .lang:hover{
    color: var(--color-sub);
}
.svg_bg .list .lang:hover::before{
    background-image: url(../images/icon_lang_over.svg);
}
.svg_bg .list .mypage{
    color: var(--color-main);
    font-size: clamp(1.6rem, 2vw, 2rem); /* 글자크기만 rem단위 사용 */
    font-weight: var(--font-weight-tit);
    padding: 2.45em 0 0 0;
    position: relative; /* before 정렬의 기준 */
}
.svg_bg .list .mypage::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* 좌우에 가운데 */
    top: 0;
    width: 2.5em;/* 아이콘 사이즈 */
    height: 2.2em;
    background: url(../images/icon_my.svg) no-repeat center center / contain;
}
.svg_bg .list .mypage:hover{
    color: var(--color-sub);
}
.svg_bg .list .mypage:hover::before{
    background-image: url(../images/icon_my_over.svg);
}
.svg_bg .list .gnb_open{
    width: clamp(56px, 8vw ,80px);
    height: clamp(56px, 8vw ,80px);
    background: #f7f7f7 url(../images/icon_menu.svg) no-repeat center center / 63.75%;
    /* 넓이 높이의 몇% - background 사이즈가 */
}
.svg_bg .list .gnb_open:hover{
    background-image: url(../images/icon_menu_over.svg);
}
.svg_bg .list .gnb_open span{
    display: none;
}

.png_bg .list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 5rem;
}
.png_bg .list .more{
    display: block;
    border: 1px solid var(--color-main);
    color: var(--color-main);
    font-size: clamp(1.6rem, 2.5vw, 3rem); /* 글자크기만 rem단위 사용 */
    font-weight: var(--font-weight-tit);
    /* 글자크기는 rem주고 여백등의 다른 단위는 em으로 줌
       현재 요소의 글자크기를 1em으로 환산한 단위 */
    border-radius: 1.3333em;
    padding: 0.6333em 2.8333em 0.5333em 1.8em;
    position: relative; /* after 정렬의 기준 */
}
.png_bg .list .more::after{
    content: "";
    position: absolute;
    right: 1.7667em;
    top: 1em;
    width: 0.7em; /* 아이콘 사이즈 */
    height: 0.7em;
    background: url(../images/icon_more.png) no-repeat center center / contain;
}
.png_bg .list .more:hover{
    color: var(--color-sub);
    border-color: var(--color-sub);
}
.png_bg .list .more:hover::after{
    background-image: url(../images/icon_more_over.png);
}
.png_bg .list .lang{
    color: var(--color-main);
    font-size: clamp(1.6rem, 2.5vw, 3rem); /* 글자크기만 rem단위 사용 */
    font-weight: var(--font-weight-tit);
    padding: 0 0 0 1.5em; /* 앞에 아이콘 들어갈 자리를 여백으로 */
    position: relative; /* before 정렬의 기준 */
}
.png_bg .list .lang::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    /* 위아래 가운데 */
    width: 1.0667em; /* 아이콘 크기 */
    height: 1.0667em;
    background: url(../images/icon_lang.png) no-repeat center center / contain;
}
.png_bg .list .lang:hover{
    color: var(--color-sub);
}
.png_bg .list .lang:hover::before{
    background-image: url(../images/icon_lang_over.png);
}
.png_bg .list .mypage{
    color: var(--color-main);
    font-size: clamp(1.6rem, 2vw, 2rem); /* 글자크기만 rem단위 사용 */
    font-weight: var(--font-weight-tit);
    padding: 2.45em 0 0 0;
    position: relative; /* before 정렬의 기준 */
}
.png_bg .list .mypage::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* 좌우에 가운데 */
    top: 0;
    width: 2.5em;/* 아이콘 사이즈 */
    height: 2.2em;
    background: url(../images/icon_my.png) no-repeat center center / contain;
}
.png_bg .list .mypage:hover{
    color: var(--color-sub);
}
.png_bg .list .mypage:hover::before{
    background-image: url(../images/icon_my_over.png);
}
.png_bg .list .gnb_open{
    width: clamp(56px, 8vw ,80px);
    height: clamp(56px, 8vw ,80px);
    background: #f7f7f7 url(../images/icon_menu.png) no-repeat center center / 63.75%;
    /* 넓이 높이의 몇% - background 사이즈가 */
}
.png_bg .list .gnb_open:hover{
    background-image: url(../images/icon_menu_over.png);
}
.png_bg .list .gnb_open span{
    display: none;
}

.svg_path .list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 50px;
}
.svg_path .list .more{
    display: flex;/* 글자-svg 좌우 */
    align-items: center;
    gap: 0 0.3667em;
    border: 1px solid var(--color-main);
    color: var(--color-main);
    fill: var(--color-main);
    /* svg의 색상, 단 svg/path html에 fill이 없어야함 */
    font-size: clamp(1.6rem, 2.5vw, 3rem); /* 글자크기만 rem단위 사용 */
    font-weight: var(--font-weight-tit);
    /* 글자크기는 rem주고 여백등의 다른 단위는 em으로 줌
       현재 요소의 글자크기를 1em으로 환산한 단위 */
    border-radius: 1.3333em;
    padding: 0.6333em 1.8em 0.5333em 1.8em;
}
.svg_path .list .more svg{
    width: 0.7em;
    /* svg는 성격이 img같아서 넓이만 제어해도 높이가 비율에 맞게 들어감 */
}
.svg_path .list .more:hover{
    color: var(--color-sub);
    fill: var(--color-sub);
    border-color: var(--color-sub);
}
.svg_path .list .lang{
    display: flex; /* svg - 글자 좌우배치 */
    align-items: center; /* 위아래 가운데 */
    gap: 0 0.3667em;
    color: var(--color-main);
    fill: var(--color-main);
    font-size: clamp(1.6rem, 2.5vw, 3rem);
    font-weight: var(--font-weight-tit);
}
.svg_path .list .lang svg{
    width: 1.0667em;
}
.svg_path .list .lang:hover{
    color: var(--color-sub);
    fill: var(--color-sub);
}
.svg_path .list .mypage{
    display: flex;
    flex-direction: column; /* 세로방향 */
    align-items: center; /* 좌우에 가운데 */
    gap: 0.25em 0;
    color: var(--color-main);
    fill: var(--color-main);
    font-size: clamp(1.6rem, 2.3vw, 2rem);
    font-weight: var(--font-weight-tit);
}
.svg_path .list .mypage svg{
    width: 2.5em;
}
.svg_path .list .mypage:hover{
    color: var(--color-sub);
    fill: var(--color-sub);
}
.svg_path .list .gnb_open{
    width: clamp(56px, 7.3vw, 80px);
    height: clamp(56px, 7.3vw, 80px);
    display: flex;
    justify-content: center; /* 좌우가운데 */
    align-items: center; /* 위아래가운데 */
    fill: var(--color-main);
    background-color: #f7f7f7;
}
.svg_path .list .gnb_open span{
    display: none;
}
.svg_path .list .gnb_open svg{
    width: 63.75%; /* gnb_open의 넓의 몇% */
}

.path_bg .list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 50px;
}
.path_bg .list .more{
    display: block;
    font-size: clamp(1.6rem, 3.2vw, 3rem);
    font-weight: var(--font-weight-tit);
    color: var(--color-main);
    border: 1px solid var(--color-main);
    padding: 0.63em 2.83em 0.53em 1.8em;
    border-radius: 1.33em;
    position: relative; /* after 정렬의 기준 */
}
.path_bg .list .more::after{
    content: "";
    position: absolute;
    right: 1.77em;
    top: 0.97em;
    width: 0.7em;
    height: 0.7em; /* 아이콘사이즈 */
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 12H1.5C1.075 12 0.71875 11.8563 0.43125 11.5688C0.14375 11.2813 0 10.925 0 10.5C0 10.075 0.14375 9.71875 0.43125 9.43125C0.71875 9.14375 1.075 9 1.5 9H9V1.5C9 1.075 9.14375 0.71875 9.43125 0.43125C9.71875 0.14375 10.075 0 10.5 0C10.925 0 11.2813 0.14375 11.5688 0.43125C11.8563 0.71875 12 1.075 12 1.5V9H19.5C19.925 9 20.2813 9.14375 20.5688 9.43125C20.8563 9.71875 21 10.075 21 10.5C21 10.925 20.8563 11.2813 20.5688 11.5688C20.2813 11.8563 19.925 12 19.5 12H12V19.5C12 19.925 11.8563 20.2813 11.5688 20.5688C11.2813 20.8563 10.925 21 10.5 21C10.075 21 9.71875 20.8563 9.43125 20.5688C9.14375 20.2813 9 19.925 9 19.5V12Z' fill='%23004289'/%3E%3C/svg%3E%0A");
    background-size: contain;
}
.path_bg .list .more:hover{
    color: var(--color-sub);
    border-color: var(--color-sub);
}
.path_bg .list .more:hover::after{
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 12H1.5C1.075 12 0.71875 11.8563 0.43125 11.5688C0.14375 11.2813 0 10.925 0 10.5C0 10.075 0.14375 9.71875 0.43125 9.43125C0.71875 9.14375 1.075 9 1.5 9H9V1.5C9 1.075 9.14375 0.71875 9.43125 0.43125C9.71875 0.14375 10.075 0 10.5 0C10.925 0 11.2813 0.14375 11.5688 0.43125C11.8563 0.71875 12 1.075 12 1.5V9H19.5C19.925 9 20.2813 9.14375 20.5688 9.43125C20.8563 9.71875 21 10.075 21 10.5C21 10.925 20.8563 11.2813 20.5688 11.5688C20.2813 11.8563 19.925 12 19.5 12H12V19.5C12 19.925 11.8563 20.2813 11.5688 20.5688C11.2813 20.8563 10.925 21 10.5 21C10.075 21 9.71875 20.8563 9.43125 20.5688C9.14375 20.2813 9 19.925 9 19.5V12Z' fill='%23F6114A'/%3E%3C/svg%3E%0A");
}
.path_bg .list .lang{
    font-size: clamp(1.6rem, 2.5vw, 3rem);
    font-weight: var(--font-weight-tit);
    color: var(--color-main);
    padding: 0 0 0 1.43em;
    position: relative; /* before 정렬의 기준 */
}
.path_bg .list .lang::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); /* 위아래 가운데 */
    width: 1.07em;
    height: 1.07em;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.8 30.74C7.85333 29.9 6.15333 28.7533 4.7 27.3C3.24667 25.8467 2.1 24.1467 1.26 22.2C0.42 20.2533 0 18.18 0 15.98C0 13.78 0.42 11.7133 1.26 9.78C2.1 7.84667 3.24667 6.15333 4.7 4.7C6.15333 3.24667 7.85333 2.1 9.8 1.26C11.7467 0.42 13.82 0 16.02 0C18.22 0 20.2867 0.42 22.22 1.26C24.1533 2.1 25.8467 3.24667 27.3 4.7C28.7533 6.15333 29.9 7.84667 30.74 9.78C31.58 11.7133 32 13.78 32 15.98C32 18.18 31.58 20.2533 30.74 22.2C29.9 24.1467 28.7533 25.8467 27.3 27.3C25.8467 28.7533 24.1533 29.9 22.22 30.74C20.2867 31.58 18.22 32 16.02 32C13.82 32 11.7467 31.58 9.8 30.74ZM16 28.72C16.6933 27.76 17.2933 26.76 17.8 25.72C18.3067 24.68 18.72 23.5733 19.04 22.4H12.96C13.28 23.5733 13.6933 24.68 14.2 25.72C14.7067 26.76 15.3067 27.76 16 28.72ZM11.84 28.08C11.36 27.2 10.94 26.2867 10.58 25.34C10.22 24.3933 9.92 23.4133 9.68 22.4H4.96C5.73333 23.7333 6.7 24.8933 7.86 25.88C9.02 26.8667 10.3467 27.6 11.84 28.08ZM20.16 28.08C21.6533 27.6 22.98 26.8667 24.14 25.88C25.3 24.8933 26.2667 23.7333 27.04 22.4H22.32C22.08 23.4133 21.78 24.3933 21.42 25.34C21.06 26.2867 20.64 27.2 20.16 28.08ZM3.6 19.2H9.04C8.96 18.6667 8.9 18.14 8.86 17.62C8.82 17.1 8.8 16.56 8.8 16C8.8 15.44 8.82 14.9 8.86 14.38C8.9 13.86 8.96 13.3333 9.04 12.8H3.6C3.46667 13.3333 3.36667 13.86 3.3 14.38C3.23333 14.9 3.2 15.44 3.2 16C3.2 16.56 3.23333 17.1 3.3 17.62C3.36667 18.14 3.46667 18.6667 3.6 19.2ZM12.24 19.2H19.76C19.84 18.6667 19.9 18.14 19.94 17.62C19.98 17.1 20 16.56 20 16C20 15.44 19.98 14.9 19.94 14.38C19.9 13.86 19.84 13.3333 19.76 12.8H12.24C12.16 13.3333 12.1 13.86 12.06 14.38C12.02 14.9 12 15.44 12 16C12 16.56 12.02 17.1 12.06 17.62C12.1 18.14 12.16 18.6667 12.24 19.2ZM22.96 19.2H28.4C28.5333 18.6667 28.6333 18.14 28.7 17.62C28.7667 17.1 28.8 16.56 28.8 16C28.8 15.44 28.7667 14.9 28.7 14.38C28.6333 13.86 28.5333 13.3333 28.4 12.8H22.96C23.04 13.3333 23.1 13.86 23.14 14.38C23.18 14.9 23.2 15.44 23.2 16C23.2 16.56 23.18 17.1 23.14 17.62C23.1 18.14 23.04 18.6667 22.96 19.2ZM22.32 9.6H27.04C26.2667 8.26667 25.3 7.10667 24.14 6.12C22.98 5.13333 21.6533 4.4 20.16 3.92C20.64 4.8 21.06 5.71333 21.42 6.66C21.78 7.60667 22.08 8.58667 22.32 9.6ZM12.96 9.6H19.04C18.72 8.42667 18.3067 7.32 17.8 6.28C17.2933 5.24 16.6933 4.24 16 3.28C15.3067 4.24 14.7067 5.24 14.2 6.28C13.6933 7.32 13.28 8.42667 12.96 9.6ZM4.96 9.6H9.68C9.92 8.58667 10.22 7.60667 10.58 6.66C10.94 5.71333 11.36 4.8 11.84 3.92C10.3467 4.4 9.02 5.13333 7.86 6.12C6.7 7.10667 5.73333 8.26667 4.96 9.6Z' fill='%23004289'/%3E%3C/svg%3E%0A");
    background-size: contain;
}
.path_bg .list .lang:hover{
    color: var(--color-sub);
}
.path_bg .list .lang:hover::before{
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.8 30.74C7.85333 29.9 6.15333 28.7533 4.7 27.3C3.24667 25.8467 2.1 24.1467 1.26 22.2C0.42 20.2533 0 18.18 0 15.98C0 13.78 0.42 11.7133 1.26 9.78C2.1 7.84667 3.24667 6.15333 4.7 4.7C6.15333 3.24667 7.85333 2.1 9.8 1.26C11.7467 0.42 13.82 0 16.02 0C18.22 0 20.2867 0.42 22.22 1.26C24.1533 2.1 25.8467 3.24667 27.3 4.7C28.7533 6.15333 29.9 7.84667 30.74 9.78C31.58 11.7133 32 13.78 32 15.98C32 18.18 31.58 20.2533 30.74 22.2C29.9 24.1467 28.7533 25.8467 27.3 27.3C25.8467 28.7533 24.1533 29.9 22.22 30.74C20.2867 31.58 18.22 32 16.02 32C13.82 32 11.7467 31.58 9.8 30.74ZM16 28.72C16.6933 27.76 17.2933 26.76 17.8 25.72C18.3067 24.68 18.72 23.5733 19.04 22.4H12.96C13.28 23.5733 13.6933 24.68 14.2 25.72C14.7067 26.76 15.3067 27.76 16 28.72ZM11.84 28.08C11.36 27.2 10.94 26.2867 10.58 25.34C10.22 24.3933 9.92 23.4133 9.68 22.4H4.96C5.73333 23.7333 6.7 24.8933 7.86 25.88C9.02 26.8667 10.3467 27.6 11.84 28.08ZM20.16 28.08C21.6533 27.6 22.98 26.8667 24.14 25.88C25.3 24.8933 26.2667 23.7333 27.04 22.4H22.32C22.08 23.4133 21.78 24.3933 21.42 25.34C21.06 26.2867 20.64 27.2 20.16 28.08ZM3.6 19.2H9.04C8.96 18.6667 8.9 18.14 8.86 17.62C8.82 17.1 8.8 16.56 8.8 16C8.8 15.44 8.82 14.9 8.86 14.38C8.9 13.86 8.96 13.3333 9.04 12.8H3.6C3.46667 13.3333 3.36667 13.86 3.3 14.38C3.23333 14.9 3.2 15.44 3.2 16C3.2 16.56 3.23333 17.1 3.3 17.62C3.36667 18.14 3.46667 18.6667 3.6 19.2ZM12.24 19.2H19.76C19.84 18.6667 19.9 18.14 19.94 17.62C19.98 17.1 20 16.56 20 16C20 15.44 19.98 14.9 19.94 14.38C19.9 13.86 19.84 13.3333 19.76 12.8H12.24C12.16 13.3333 12.1 13.86 12.06 14.38C12.02 14.9 12 15.44 12 16C12 16.56 12.02 17.1 12.06 17.62C12.1 18.14 12.16 18.6667 12.24 19.2ZM22.96 19.2H28.4C28.5333 18.6667 28.6333 18.14 28.7 17.62C28.7667 17.1 28.8 16.56 28.8 16C28.8 15.44 28.7667 14.9 28.7 14.38C28.6333 13.86 28.5333 13.3333 28.4 12.8H22.96C23.04 13.3333 23.1 13.86 23.14 14.38C23.18 14.9 23.2 15.44 23.2 16C23.2 16.56 23.18 17.1 23.14 17.62C23.1 18.14 23.04 18.6667 22.96 19.2ZM22.32 9.6H27.04C26.2667 8.26667 25.3 7.10667 24.14 6.12C22.98 5.13333 21.6533 4.4 20.16 3.92C20.64 4.8 21.06 5.71333 21.42 6.66C21.78 7.60667 22.08 8.58667 22.32 9.6ZM12.96 9.6H19.04C18.72 8.42667 18.3067 7.32 17.8 6.28C17.2933 5.24 16.6933 4.24 16 3.28C15.3067 4.24 14.7067 5.24 14.2 6.28C13.6933 7.32 13.28 8.42667 12.96 9.6ZM4.96 9.6H9.68C9.92 8.58667 10.22 7.60667 10.58 6.66C10.94 5.71333 11.36 4.8 11.84 3.92C10.3467 4.4 9.02 5.13333 7.86 6.12C6.7 7.10667 5.73333 8.26667 4.96 9.6Z' fill='%23F6114A'/%3E%3C/svg%3E%0A");
}
.path_bg .list .mypage{
    font-size: clamp(1.6rem, 2.3vw, 2rem);
    font-weight: var(--font-weight-tit);
    color: var(--color-main);
    padding: 2.45em 0 0 0;
    position: relative;
}
.path_bg .list .mypage::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 2.5em;
    height: 2.2em;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='44' viewBox='0 0 50 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.4179 18.1991C15.3298 16.1222 14.2857 13.6081 14.2857 10.6568C14.2857 7.70604 15.3298 5.19223 17.4179 3.11534C19.5054 1.03845 22.0327 0 25 0C27.9673 0 30.4946 1.03845 32.5821 3.11534C34.6702 5.19223 35.7143 7.70604 35.7143 10.6568C35.7143 13.6081 34.6702 16.1222 32.5821 18.1991C30.4946 20.2754 27.9673 21.3136 25 21.3136C22.0327 21.3136 19.5054 20.2754 17.4179 18.1991ZM0 40.311V38.1521C0 36.6856 0.429166 35.3135 1.2875 34.0359C2.14643 32.7589 3.30149 31.7672 4.75268 31.0609C8.12292 29.4535 11.4952 28.2478 14.8696 27.4438C18.244 26.6404 21.6208 26.2387 25 26.2387C28.3792 26.2387 31.756 26.6404 35.1304 27.4438C38.5048 28.2478 41.8771 29.4535 45.2473 31.0609C46.6985 31.7672 47.8536 32.7589 48.7125 34.0359C49.5708 35.3135 50 36.6856 50 38.1521V40.311C50 41.3536 49.644 42.2289 48.9321 42.937C48.2202 43.6457 47.3399 44 46.2911 44H3.70893C2.66012 44 1.77976 43.6457 1.06786 42.937C0.355953 42.2289 0 41.3536 0 40.311ZM3.57143 40.4477H46.4286V38.1521C46.4286 37.3641 46.1732 36.624 45.6625 35.9319C45.1524 35.2398 44.4461 34.6546 43.5438 34.1762C40.6045 32.76 37.578 31.6751 34.4643 30.9215C31.3506 30.1678 28.1958 29.7909 25 29.7909C21.8042 29.7909 18.6494 30.1678 15.5357 30.9215C12.422 31.6751 9.39554 32.76 6.45625 34.1762C5.55387 34.6546 4.84762 35.2398 4.3375 35.9319C3.82679 36.624 3.57143 37.3641 3.57143 38.1521V40.4477ZM30.0446 15.6744C31.4435 14.2831 32.1429 12.6105 32.1429 10.6568C32.1429 8.70305 31.4435 7.03052 30.0446 5.63922C28.6458 4.24792 26.9643 3.55226 25 3.55226C23.0357 3.55226 21.3542 4.24792 19.9554 5.63922C18.5565 7.03052 17.8571 8.70305 17.8571 10.6568C17.8571 12.6105 18.5565 14.2831 19.9554 15.6744C21.3542 17.0657 23.0357 17.7613 25 17.7613C26.9643 17.7613 28.6458 17.0657 30.0446 15.6744Z' fill='%23004289'/%3E%3C/svg%3E%0A");
    background-size: contain;
}
.path_bg .list .mypage:hover{
    color: var(--color-sub);
}
.path_bg .list .mypage:hover::before{
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='44' viewBox='0 0 50 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.4179 18.1991C15.3298 16.1222 14.2857 13.6081 14.2857 10.6568C14.2857 7.70604 15.3298 5.19223 17.4179 3.11534C19.5054 1.03845 22.0327 0 25 0C27.9673 0 30.4946 1.03845 32.5821 3.11534C34.6702 5.19223 35.7143 7.70604 35.7143 10.6568C35.7143 13.6081 34.6702 16.1222 32.5821 18.1991C30.4946 20.2754 27.9673 21.3136 25 21.3136C22.0327 21.3136 19.5054 20.2754 17.4179 18.1991ZM0 40.311V38.1521C0 36.6856 0.429166 35.3135 1.2875 34.0359C2.14643 32.7589 3.30149 31.7672 4.75268 31.0609C8.12292 29.4535 11.4952 28.2478 14.8696 27.4438C18.244 26.6404 21.6208 26.2387 25 26.2387C28.3792 26.2387 31.756 26.6404 35.1304 27.4438C38.5048 28.2478 41.8771 29.4535 45.2473 31.0609C46.6985 31.7672 47.8536 32.7589 48.7125 34.0359C49.5708 35.3135 50 36.6856 50 38.1521V40.311C50 41.3536 49.644 42.2289 48.9321 42.937C48.2202 43.6457 47.3399 44 46.2911 44H3.70893C2.66012 44 1.77976 43.6457 1.06786 42.937C0.355953 42.2289 0 41.3536 0 40.311ZM3.57143 40.4477H46.4286V38.1521C46.4286 37.3641 46.1732 36.624 45.6625 35.9319C45.1524 35.2398 44.4461 34.6546 43.5438 34.1762C40.6045 32.76 37.578 31.6751 34.4643 30.9215C31.3506 30.1678 28.1958 29.7909 25 29.7909C21.8042 29.7909 18.6494 30.1678 15.5357 30.9215C12.422 31.6751 9.39554 32.76 6.45625 34.1762C5.55387 34.6546 4.84762 35.2398 4.3375 35.9319C3.82679 36.624 3.57143 37.3641 3.57143 38.1521V40.4477ZM30.0446 15.6744C31.4435 14.2831 32.1429 12.6105 32.1429 10.6568C32.1429 8.70305 31.4435 7.03052 30.0446 5.63922C28.6458 4.24792 26.9643 3.55226 25 3.55226C23.0357 3.55226 21.3542 4.24792 19.9554 5.63922C18.5565 7.03052 17.8571 8.70305 17.8571 10.6568C17.8571 12.6105 18.5565 14.2831 19.9554 15.6744C21.3542 17.0657 23.0357 17.7613 25 17.7613C26.9643 17.7613 28.6458 17.0657 30.0446 15.6744Z' fill='%23F6114A'/%3E%3C/svg%3E%0A");
}
.path_bg .list .gnb_open{
    width: clamp(5.6rem, 8.5vw, 8rem);
    height: clamp(5.6rem, 8.5vw, 8rem);
    background-image: url("data:image/svg+xml,%3Csvg width='51' height='39' viewBox='0 0 51 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.83333 5.57143C2.03056 5.57143 1.35764 5.30446 0.814583 4.77054C0.271528 4.23661 0 3.575 0 2.78571C0 1.99643 0.271528 1.33482 0.814583 0.800893C1.35764 0.266964 2.03056 0 2.83333 0H48.1667C48.9694 0 49.6424 0.266964 50.1854 0.800893C50.7285 1.33482 51 1.99643 51 2.78571C51 3.575 50.7285 4.23661 50.1854 4.77054C49.6424 5.30446 48.9694 5.57143 48.1667 5.57143H2.83333ZM2.83333 39C2.03056 39 1.35764 38.733 0.814583 38.1991C0.271528 37.6652 0 37.0036 0 36.2143C0 35.425 0.271528 34.7634 0.814583 34.2295C1.35764 33.6955 2.03056 33.4286 2.83333 33.4286H48.1667C48.9694 33.4286 49.6424 33.6955 50.1854 34.2295C50.7285 34.7634 51 35.425 51 36.2143C51 37.0036 50.7285 37.6652 50.1854 38.1991C49.6424 38.733 48.9694 39 48.1667 39H2.83333ZM2.83333 22.2857C2.03056 22.2857 1.35764 22.0188 0.814583 21.4848C0.271528 20.9509 0 20.2893 0 19.5C0 18.7107 0.271528 18.0491 0.814583 17.5152C1.35764 16.9813 2.03056 16.7143 2.83333 16.7143H48.1667C48.9694 16.7143 49.6424 16.9813 50.1854 17.5152C50.7285 18.0491 51 18.7107 51 19.5C51 20.2893 50.7285 20.9509 50.1854 21.4848C49.6424 22.0188 48.9694 22.2857 48.1667 22.2857H2.83333Z' fill='%23004289'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 63.75%;
}
.path_bg .list .gnb_open span {
    display: none;
}
.font_icon i{
    font-size: inherit;
    line-height: inherit;
}
.font_icon .list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 50px;
}
.font_icon .list .more{
    font-size: clamp(1.6rem, 3.2vw, 3rem);
    font-weight: var(--font-weight-tit);
    color: var(--color-main);
    border: 1px solid var(--color-main);
    padding: 0.45em 1.6em 0.4em 1.6em;
    border-radius: 1.33em;
    display: flex; /* 아이콘 글자 좌우배치 */
    align-items: center;
    gap: 0 0.1667em;
    white-space: nowrap;
}
.font_icon .list .more i{
    font-size: 1.1em;
}
.font_icon .list .more:hover{
    color: var(--color-sub);
    border-color: var(--color-sub);
}
.font_icon .list .lang{
    font-size: clamp(1.6rem, 3.2vw, 3rem);
    font-weight: var(--font-weight-tit);
    color: var(--color-main);
    display: flex;
    align-items: center;
    gap: 0 0.1667em;
}
.font_icon .list .lang i{
    font-size: 1.0667em;
}
.font_icon .list .lang:hover{
    color: var(--color-sub);
}
.font_icon .list .mypage{
    font-size: clamp(1.6rem, 2.3vw, 2rem);
    font-weight: var(--font-weight-tit);
    color: var(--color-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
}
.font_icon .list .mypage i{
    font-size: 3em;
}
.font_icon .list .mypage:hover{
    color: var(--color-sub);
}
.font_icon .list .gnb_open{
    width: clamp(5.6rem, 8.5vw, 8rem);
    height: clamp(5.6rem, 8.5vw, 8rem);
    color: var(--color-main);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(5rem, 7.5vw, 7rem);
}
.font_icon .list .gnb_open span{
    display: none;
}

body{
    margin: 0 0 500px 0;
}