@import url(pretendard.css);
@import url(common.css);

.visual .swiper-slide{
    height: 900px;
    background: url(../images/visual01.jpg) no-repeat center center / cover;
    color: #fff;
}
.visual .swiper-slide.bg2{
    background-image: url(../images/visual02.jpg);
}
.visual .swiper-slide.bg3{
    background-image: url(../images/visual03.jpg);
}
.visual .swiper-slide h3{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin: 444px 0 16px 0;
}
.visual .ctrl_wrap{
    position: absolute; /* swiper를 기준으로 정렬 */
    left: 50%; 
    /* left 50% - 정렬의 기준이 되는 swiper의 넓이에 50% 
       translateX(-50%) - ctrl_wrap 나 자신의 넓이의 절반을 왼쪽으로 이동 */
    transform: translateX(-50%);
    bottom: 50px;
    z-index: 10;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 6px;
}
.visual .ctrl_wrap .paging{
    width: auto; /* 100% 해제 */
    display: flex;
    gap: 0 6px;
    margin: 0 6px 0 0;
}
/* swiper-pagination-bullet swiper-pagination-bullet-active */
.visual .ctrl_wrap .paging .swiper-pagination-bullet{
    margin: 0;
    background: #fff;
    opacity: 1;
    width: 8px;
    height: 8px;
    border-radius: 4px;/* 높이 절반 */
}
.visual .ctrl_wrap .paging .swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: 37px;
}
.visual .ctrl_wrap .btn{
    display: block;
    width: 17px;
    height: 17px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative; /* before/after 정렬의 기준 */
}
.visual .ctrl_wrap .btn.prev::before,
.visual .ctrl_wrap .btn.next::before{
    content: "";
    position: absolute; /* btn을 기준으로 정렬 */
    left: 6px;
    top: 4px;
    width: 6px;
    height: 6px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 0 1px 1px;
    transform: rotate(45deg);
}
.visual .ctrl_wrap .btn.next::before{
    transform: rotate(225deg);
    left: 3px;
}
.visual .ctrl_wrap .btn.stop::before,
.visual .ctrl_wrap .btn.stop::after{
    content: "";
    position: absolute;
    left: 5px;
    top: 4px;
    width: 1px;
    height: 7px;
    background-color: #fff;
}
.visual .ctrl_wrap .btn.stop::after{
    left: 9px;
}
.visual .ctrl_wrap .btn.play::before{
    content: "";
    position: absolute;
    left: 5px;
    top: 4px;
    width: 7px;
    height: 8px;
    background: url(../images/visual_play.svg) no-repeat center center;
}
.visual .ctrl_wrap .btn.play{
    display: none; /* 숨김 */
}
@media screen and (max-width:768px){
        .visual .swiper-slide{
            height: 600px;
        }
        .visual .swiper-slide h3{
            font-size: 28px;
            margin: 250px 0 16px 0;
        }
        .visual .swiper-slide p{
            display: none;
        }
}

.news{
    margin: 100px 0 0 0;
}
.news h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
}
.news .list{
    margin: 51px 0 0 0;
    position: relative; /* ctrl_wrap 정렬의 기준 */
}
.news .list .swiper-slide a{
    display: block;
}
.news .list .swiper-slide a h3{
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    /* 1줄제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news .list .swiper-slide a p{
    margin: 17px 0;
    /* 2줄제한 */
    line-height: 1.5; /* 알면 안써도 됨 */
    height: 3em; /* 행간 * 줄수 = 단위는 em */
    overflow: hidden;

    /* 표준은 아니지만 마지막에 ...을 추가해주는 코드 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 2줄 */
}
.news .list .swiper-slide a .photo{
    overflow: hidden;
}
.news .list .swiper-slide a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    vertical-align: top;
}
.news .list .swiper-slide a:hover .photo img{
    transform: scale3d(1.125, 1.125, 1);
}
.news .list .ctrl_wrap{
    position: absolute; /* list를 기준으로 정렬 */
    right: 0;
    top: -96px;
    display: flex;
    gap: 0 6px;
}
.news .list .ctrl_wrap button{
    width: 40px;
    height: 40px;
    border: 1px solid #3d3d3d;
    border-radius: 50%;
    background: url(../images/news_next.svg) no-repeat center center;
}
.news .list .ctrl_wrap button.prev{
    transform: rotate(180deg);
}
.news .list .ctrl_wrap button.swiper-button-disabled{
    opacity: 0.6;
}
@media screen and (max-width:768px){
        .news h2{
            font-size: 24px;
            margin-right: 70px; /* 오른쪽에 button 들어갈 만큼 */
        }
        .news .list{
            margin: 35px 0 0 0;
        }
        .news .list .swiper-slide a h3{
            font-size: 20px;
            /* 1줄제한 ---> 2줄로 변경 */
            white-space: normal; /* nowrap -> normal 여러줄 허용 */
            /* overflow: hidden; -- 유지
            text-overflow: ellipsis; -- 2줄 이상에서 작동X */
            line-height: 1.3;
            height: 2.6em;/* 행간 * 줄수 = 단위는 em */

            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        .news .list .swiper-slide a p{
            margin: 10px 0;
        }
        .news .list .ctrl_wrap{
            top: -67px;
        }
        .news .list .ctrl_wrap button{
            width: 28px;
            height: 28px;
            background-size: 8px; /* 가로 사이즈만 세로는 비율에 맞게 */
        }
}/*@media*/

.notice{
    margin: 200px 0 0 0;
}
.notice h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
}
.notice .list{
    margin: 51px 0 0 0;
    position: relative; /* ctrl_wrap 정렬의 기준 */
}
.notice .list .swiper-slide a{
    display: block;
}
.notice .list .swiper-slide a h3{
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    /* 1줄제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notice .list .swiper-slide a p{
    margin: 17px 0;
    /* 2줄제한 */
    line-height: 1.5; /* 알면 안써도 됨 */
    height: 3em; /* 행간 * 줄수 = 단위는 em */
    overflow: hidden;

    /* 표준은 아니지만 마지막에 ...을 추가해주는 코드 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 2줄 */
}
.notice .list .swiper-slide a .photo{
    overflow: hidden;
}
.notice .list .swiper-slide a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    vertical-align: top;
}
.notice .list .swiper-slide a:hover .photo img{
    transform: scale3d(1.125, 1.125, 1);
}
.notice .list .ctrl_wrap{
    position: absolute; /* list를 기준으로 정렬 */
    right: 0;
    top: -96px;
    display: flex;
    gap: 0 6px;
}
.notice .list .ctrl_wrap button{
    width: 40px;
    height: 40px;
    border: 1px solid #3d3d3d;
    border-radius: 50%;
    background: url(../images/news_next.svg) no-repeat center center;
}
.notice .list .ctrl_wrap button.prev{
    transform: rotate(180deg);
}
.notice .list .ctrl_wrap button.swiper-button-disabled{
    opacity: 0.6;
}
@media screen and (max-width:768px){
        .notice h2{
            font-size: 24px;
            margin-right: 70px; /* 오른쪽에 button 들어갈 만큼 */
        }
        .notice .list{
            margin: 35px 0 0 0;
        }
        .notice .list .swiper-slide{
            width: 250px;
        }
        .notice .list .swiper-slide a h3{
            font-size: 20px;
            /* 1줄제한 ---> 2줄로 변경 */
            white-space: normal; /* nowrap -> normal 여러줄 허용 */
            /* overflow: hidden; -- 유지
            text-overflow: ellipsis; -- 2줄 이상에서 작동X */
            line-height: 1.3;
            height: 2.6em;/* 행간 * 줄수 = 단위는 em */

            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        .notice .list .swiper-slide a p{
            margin: 10px 0;
        }
        .notice .list .ctrl_wrap{
            top: -67px;
        }
        .notice .list .ctrl_wrap button{
            width: 28px;
            height: 28px;
            background-size: 8px; /* 가로 사이즈만 세로는 비율에 맞게 */
        }
}/*@media*/

body{
    margin: 0 0 1000px 0;
}