@import url(pretendard.css);
/****************** Start : 태그의 초기화 **********/
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;/*밑줄삭제*/
}
ul,ol,li{
    list-style: none; /* 앞에 도형제거 */
}
/****************** End : 태그의 초기화 **********/
/****************** Start : 기본스타일 **********/
body{
    font-family: 'pretendard';
    font-size: 17px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.5;
}
.wrapper{
    width: 1260px;
    margin: 0 auto;
}
/****************** End : 기본스타일 **********/

.share{
    text-align: center;
}
.share h2{
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 140px 0 13px 0;
}
.share a{
    background-color: #00664f;
    color: #fff;
    font-weight: 700;
    padding: 5px 18px;
    display: inline-block;
    margin: 20px 0 0 0;
}

.first{
    background: url(../images/eh_first.jpg) no-repeat center center / cover;
    color: #fff;
    text-align: center;
    margin: 102px 0 0 0;
    height: 424px;
}
.first h2{
    font-size: 40px;
    font-weight: 700;
    padding: 140px 0 13px 0;
}
.first a{
    background-color: #fff;
    color: #00664f;
    font-weight: 700;
    padding: 6px 22px;
    display: inline-block;
    margin: 20px 0 0 0;
    border-radius: 30px;
}

.history{
    background-color: #00664f;
    color: #fff;
    height: 543px;
}
.history h2{
    font-size: 40px;
    font-weight: 700;
    padding: 136px 0 24px 0;
}
.history a{
    margin: 33px 0 0 0;
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px 25px;
    border-radius: 30px;
}

.project h2{
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 130px 0 40px 0;
}
.project ul{
    display: flex;/* li를 좌우로 배치 */
    justify-content: space-between;
}
/* li와 a의 사이즈를 동일하게 할때 
   반드시 li에는 넓이를 a에는 높이를 줘야함!!! */
.project ul li{
    width: 297px;
}
.project ul li a{
    display: block;
    height: 260px;
    background: url(../images/eh_pro1.jpg) no-repeat center center / cover;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding: 191px 0 0 40px;
}
/*  li.bg2  (여백없음주의)
    li들 중에서 bg2라는 클래스명을 갖은 li를 이야기함 */
.project ul li.bg2 a{
    background-image: url(../images/eh_pro2.jpg);
}
.project ul li.bg3 a{
    background-image: url(../images/eh_pro3.jpg);
}
.project ul li.bg4 a{
    background-image: url(../images/eh_pro4.jpg);
}

.emp{
    margin: 133px 0 0 0;
}
.emp .wrapper{
    background-color: #00664f;
    color: #fff;
    height: 267px;
    display: flex;/* tit-a를 좌우로배치 */
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}
.emp .tit h2{
    font-size: 40px;
    font-weight: 700;
}
.emp a{
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px 25px;
    border-radius: 30px;
}

body{
    margin: 0 0 500px 0;
}