@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.visual{
    position: relative; /* scroll 정렬의 기준 */
}
.visual .swiper-slide{
    height: 100vh; /* 브라우저의 높이 */
    background: url(../images/visual_bg01.jpg) no-repeat center center / cover;
    color: #fff;
    display: flex; /* wrapper를 아래로 정렬 */
    align-items: flex-end;
}
.visual .swiper-slide.pop2{
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper-slide.pop3{
    background-image: url(../images/visual_bg03.jpg);
}
.visual .swiper-slide h2{
    font-size: 70px;
    font-weight: 800;
    line-height: 1.3;
    margin: 0 0 97px 0;
}
.visual .scroll{
    position: absolute;
    /* left: 50%;
    transform: translateX(-50%);
    bottom: 33px; */
    right: 0;
    bottom: 100px;
    transform: rotate(90deg);
    z-index: 10;
    font-size: 12px;
    color: #fff;
}
.visual .scroll::before,
.visual .scroll::after{
    content: "";
    position: absolute; /* scroll를 기준으로 정렬 */
    /* left: 0;
    bottom: -11px;
    width: 100%;
    height: 13px; */
    right: -20px;
    top: 0;
    width: 13px;
    height: 100%;
    transform: rotate(-90deg);
    background: url(../images/visual_scroll.svg) no-repeat center center;
}
.visual .scroll::after{
    /* bottom: -15px; */
    opacity: 0;
    animation: scroll1 2s linear 1s infinite;
}
.visual .scroll::before{
    animation: scroll1 2s linear infinite;
}
/* 삼천리 스타일 */
@keyframes scroll1 {
    0%{right: -20px;opacity: 1;}
    80%{right: -28px;opacity: 1;}
    100%{right: -30px;opacity: 0;}
}
/*  위아래 반복 스타일 
@keyframes scroll1 {
    0%{right: -20px;}
    50%{right: -30px;}
    100%{right: -20px;} 
} */

@media screen and (max-width:768px){
            .visual .swiper-slide h2{
                font-size: 40px;
                margin: 0 0 64px 0;
            }
            .visual .scroll{
                display: none;
            }
}

.footer{
    margin: 1000px 0 0 0;
}