@import url(fonts.css);
@import url(common.css);

.header{
    height: 100px;
}
.header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .gnb ul{
    display: flex; /*li를 좌우로 배치*/
}
.header .gnb ul li a{
    display: block;
    line-height: 100px; /* 행간을 header의 높이와 동일하게 */
    padding: 0 32px;
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
}

.visual{
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
}
.visual .wrapper{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 113px 0;
}
.visual h2{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 24px 0;
}

.biz{
    margin: 202px 0 142px 0;
}
.biz .tit h2{
    font-weight: 700;
    color: #153791;
}
.biz .tit p{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 11px 0 0 0;
}
.biz .list{
    margin: 60px 0 0 0;
}
.biz .list ul{
    display: flex;/*li를 좌우배치*/
    justify-content: space-between;
}
.biz .list ul li{
    width: 297px;
}
.biz .list ul li a{
    display: block;
}
.biz .list ul li a .txt{
    text-align: center;
    margin: 0 40px;
}
.biz .list ul li a .txt h3{
    font-size: 40px;
    color: #1d1d1d;
    margin: 29px 0 11px 0;
}
.biz .list ul li a .txt span{
    border: 1px solid #ccc;
    margin: 18px 0 0 0;
    display: block;
    padding: 8px 0;
}

.brand{
    background: url(../images/brand_bg.jpg) no-repeat center center / cover;
    color: #fff;
}
.brand .wrapper{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.brand h2{
    color: #BAD6EB;
    font-weight: 700;
}
.brand p{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin: 11px 0 22px 0;
}
.brand a{
    display: block;
    border: 1px solid #fff;
    padding: 8px 26px;
}

.footer{
    background-color: #1d1d1d;
    color: rgba(255,255,255,0.8);
    padding: 78px 0;
}
.footer .f_nav ul{
    display: flex;
    gap: 0 42px;
}
.footer .f_nav ul li.privacy{
    font-weight: 700;
}
.footer .f_info {
    margin: 23px 0 21px 0;
    display: flex;
    gap: 0 21px;
}