@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url(common.css);

.header{
    height: 100px;
    display: flex; /* logo-gnb 좌우 */
    justify-content: space-between;
    margin: 0 40px 0 50px;
}
.header .logo{
    margin: 24px 0 0 0;
}
.header .gnb ul{
    display: flex; /* li좌우배치 */
}
.header .gnb ul li a{
    display: block;
    line-height: 100px;/* header의 높이와 동일 */
    font-size: 20px;
    font-weight: 700;
    color: #191E26;
    padding: 0 32px;
}
/* a에 마우스를 올렸을때 */
.header .gnb ul li a:hover{
    color: #AF143C;
}

.visual{
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
    height: 800px;
    margin: 0 40px;
    border-radius: 30px;
}
.visual .wrapper{
    padding: 0 0 0 40px;
}
.visual h2{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    padding: 434px 0 23px 0;
}

.biz{
    margin: 179px 0 158px 0;
}
.biz .art{
    margin: 101px 0 0 0;
}
/* music, art하고 모두에 스타일이 적용됨 */
.biz .group{
    display: flex; /* tit-photo */
    justify-content: space-between;
}
.biz .group .tit{
    width: 510px;
    margin: 20px 0 0 0;
}
.biz .group .tit h3{
    color: #AF143C;
}
.biz .group .tit .sub_tit{
    font-size: 40px;
    font-weight: 700;
    color: #191E26;
    line-height: 1.3;
    margin: 13px 0 23px 0;
}
.biz .group .tit .sub_tit strong{
    color: #AF143C;
}
.biz .group .tit .btn_wrap{
    display: flex; /* a를 좌우배치 */
    margin: 48px 0 0 0;
    gap: 6px 6px;
    /* flex로 정렬된 a 사이의 여백 
       위아래여백-좌우의여백 */
    flex-wrap: wrap; 
    /* flex정렬되는 a가 두줄로 정렬되는 것을 허락 */
}
.biz .group .tit .btn_wrap a{
    display: block;
    color: #AF143C;
    border: 1px solid #AF143C;
    padding: 12px 35px;
    border-radius: 30px;
}
/* 
    <a></a>
    <a></a>
    <a class="active"></a>
    a.active라는 선택자는 a들 중에서 active 클래스가 있는 a를 뜻함

    a    .active 이렇게 띄어쓰기를 하면 
    <a> <strong class="active"></strong> </a>
    이런식으로 a안에 active 클래스가 별도로 있는 것을 이야기함 
*/
.biz .group .tit .btn_wrap a.active{
    background-color: #AF143C;
    color: #fff;
}
.biz .group .tit .btn_wrap a:hover{
    background-color: #F7E8EC;
    font-weight: 700;
}
.biz .group .tit .btn_wrap a.active:hover{
    color: #AF143C;
}
.biz .group .photo{
    width: 618px;
    height: 487px;
    overflow: hidden;
    border-radius: 20px;
}
.biz .group .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.community{
    background: url(../images/community_bg.jpg) no-repeat center top;
    color: #fff;
}
.community .notice{
    padding: 175px 0 170px 0;
    display: flex;
    justify-content: space-between;
}
.community .notice .tit h3{
    color: #EBE2B7;
    font-weight: 700;
}
.community .notice .tit p{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin: 11px 0 0 0;
}
.community .notice .list{
    width: 832px;
}
.community .notice .list ul li{
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
/* li:first-child  li중에 첫번째 li를 선택함 */
.community .notice .list ul li:first-child{
    border-top: 1px solid rgba(255,255,255,0.2);
}
.community .notice .list ul li a{
    display: flex;/* h4-span 좌우배치 */
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
}
.community .notice .list ul li a:hover{
    color: #EBE2B7;
}
.community .notice .list ul li a h4{
    font-size: 18px;
    font-weight: 700;
}
.community .notice .list ul li a span{
    color: rgba(255,255,255,0.8);
}
.community .notice .list ul li a:hover span{
    color: #EBE2B7;
}

.footer{
    margin: 0 0 500px 0;
}