/*
    메인페이지에서만 호출
    메인에 필요한 다른 css를 부름
*/
@import url(default.css);
@import url(common.css);
@import url(fonts.css);
@import url(layout.css);

.visual{
    overflow-x: hidden; /* 가로 스크롤바 허용 안함 */
    position: relative; /* ctrl_wrap 정렬의 기준 */
}
.visual .popup_wrap .popup{
    margin: 0;
}
.visual .popup_wrap .popup .item{
    height: clamp(500px, 65vw,650px);
    background: url(../images/main/visual01.jpg) no-repeat center center / cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.visual .popup_wrap .popup .item.bg2{
    background-image: url(../images/main/visual02.jpg);
}
.visual .popup_wrap .popup .item.bg3{
    background-image: url(../images/main/visual03.jpg);
}
.visual .popup_wrap .popup .item p{
    margin: 0 0 clamp(95px, 14vw, 141px) 0;
    font-size: clamp(30px, 6vw, 60px);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
}
.visual .popup_wrap .popup .slick-dots{
    position: absolute; /* popup을 기준으로 정렬 */
    bottom: 48px;
    left: calc(50%  -  (var(--wrapper-w)  /  2)); /* absolute는 반드시 left 또는 right 있어야함 */
    width: auto;
    display: flex;
    gap: 0 6px;
}
.visual .popup_wrap .popup .slick-dots li{
    width: auto;
    height: auto;
    margin: 0;
}
.visual .popup_wrap .popup .slick-dots li button{
    width: 15px;
    height: 7px;
    padding: 0;
    border-radius: 5px;
    background: rgba(255,255,255,0.6);
}
.visual .popup_wrap .popup .slick-dots li.slick-active button{
    width: 78px;
    background: #fff;
}
.visual .popup_wrap .popup .slick-dots li button::before{
    display: none;
}
.visual .ctrl_wrap{
    position: absolute; /* visual을 기준으로 정렬 */
    left: calc(50%  -  (var(--wrapper-w)  /  2)  +  132px);
    bottom: 37px;
}
.visual .ctrl_wrap button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.2  );
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .ctrl_wrap button.stop{
    background-image: var(--icon-stop);
}
.visual .ctrl_wrap button.play{
    display: none;
    background-image: var(--icon-play);
}
@media screen and (max-width:1500px){
    .visual .popup_wrap .popup .slick-dots{
        left: var(--wrapper-margin);
    }
    .visual .ctrl_wrap{
        left: calc(var(--wrapper-margin)  +  132px);
    }
}/*@media*/
@media screen and (max-width:768px){
    .visual .popup_wrap .popup .item p br{
        display: none; /* 줄바꿈 삭제 */
    }
}/*@media*/

.find{
    background-color: var(--color-main);
    color: var(--color-white);
    padding: clamp(106px, 15vw, 156px) 0 clamp(72px, 12vw, 120px) 0;
    overflow-x: hidden; /* 가로스크롤바 삭제 */
}
.find h2{
    font-size: var(--font-size-tit);
    font-weight: var(--font-weight-bold);
    text-align: center;
}
.find .tab_list{
    margin: clamp(38px, 5.4vw, 54px) 0 clamp(18px, 3.6vw, 36px) 0;
}
.find .tab_list ul{
    display: flex; /* li를 좌우로 배치 */
    gap: 0 15px;
    justify-content: center;
}
.find .tab_list ul li button{
    padding: 0.417em 1.75em;
    font-size: var(--font-size-subtit);
    font-weight: var(--font-weight-bold);
    border-radius: 30px;
    color: var(--color-w80);
}
.find .tab_list ul li.animal.active button{
    background-color: var(--color-sub2);
    color: var(--color-white);
}
.find .tab_list ul li.people.active button{
    background-color: var(--color-sub1);
    color: var(--color-white);
}
.find .tab_conts .tab_item{
    display: none;
}
.find .tab_conts .tab_item.active{
    display: block;
}
.find .tab_conts .tab_item .tab_conts_list_wrap{
    width: calc(100%  +  var(--gap));
    /* slick은 각각 항목 사이의 여백을 js 못줌
       css에서 추가하는데 항목이 4개면 여백도 4개 생김
       (3개가 생겨야 좌우가 slide로 딱 끝나는데 ....)
       그래서 감싸는 요소의 넓이를 100% + 여백 하나의 값만큼 더 줌.. */
}
.find .tab_conts .tab_item .tab_conts_list_wrap .tab_conts_list .item{
    margin: 0 var(--gap) 0 0;
    width: 240px; /* 모바일 사이즈 */
}
.find .tab_conts .tab_item .tab_conts_list_wrap .tab_conts_list .item .photo{
    overflow: hidden;
    height: 446px;
    border-radius: 20px;
}
.find .tab_conts .tab_item .tab_conts_list_wrap .tab_conts_list .item .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.find .tab_conts .tab_item .tab_conts_list_wrap .tab_conts_list .item:hover .photo img{
    transform: scale3d(1.125, 1.125, 1);
}
.find .tab_conts .tab_item .tab_conts_list_wrap .tab_conts_list .item ul{
    margin: 16px 0 0 10px;
}
.find .tab_conts .tab_item .tab_conts_list_wrap .tab_conts_list .item ul li{
    display: flex;
    line-height: 1.8;
}
.find .tab_conts .tab_item .tab_conts_list_wrap .tab_conts_list .item ul li strong{
    color: var(--color-w80);
    width: 4.5em;
}
.find .tab_conts .tab_item .tab_conts_list_wrap .tab_conts_list .item ul li span{
    /* 1줄제한 반드시 넓이가 제한되어야 함 */
    width: calc(100% - 4.5em);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.find .tab_conts .tab_item .slick-prev {
    left: -20px;
    transform: rotate(180deg) !important;
}
.find .tab_conts .tab_item .slick-next {
    right: calc(var(--gap)  -  20px);
}
.find .tab_conts .tab_item .slick-prev, 
.find .tab_conts .tab_item .slick-next {
    top: 40%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-sub2);
    /* 무조건 적용하는 것 !important */
    background-image: var(--icon-arrow-w);
    background-position: center center;
    background-repeat: no-repeat;
    transform: translate(0);
    z-index: 10;
}
.find .tab_conts .tab_item.people .slick-prev, 
.find .tab_conts .tab_item.people .slick-next{
    background-color: var(--color-sub1);
}
.find .tab_conts .tab_item .slick-prev::before, 
.find .tab_conts .tab_item .slick-next::before{
    display: none;
}

@media screen and (max-width:768px){
                .find .tab_list ul{
                    gap: 0 6px;
                }
                .find .tab_conts .tab_item .tab_conts_list_wrap .tab_conts_list .item{
                    width: 240px; /* 모바일 사이즈 */
                }
                .find .tab_conts .tab_item .tab_conts_list_wrap .tab_conts_list .item .photo{
                    height: 313px;
                    border-radius: 10px;
                }
                .find .tab_conts .tab_item .tab_conts_list_wrap .tab_conts_list .item ul{
                    margin: 9px 0 0 0;
                }
                .find .tab_conts .tab_item .tab_conts_list_wrap .tab_conts_list .item ul li strong{
                    display: none;
                }
                .find .tab_conts .tab_item .tab_conts_list_wrap .tab_conts_list .item ul li span{
                    width: 100%;
                }
                .find .tab_conts .tab_item .slick-prev, 
                .find .tab_conts .tab_item .slick-next {
                    display: none !important;
                }
}/*@media*/

.message{
    height: 300vh;
}
.message .inner{
    height: calc(100vh - var(--header-h));
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; /* inner안에 p를 가운데 주기 위해서 */
    position: sticky;
    top: var(--header-h);
}
.message p{
    text-align: center;
    font-size: min(60px, 6vw); 
    font-weight: var(--font-weight-bold);
    color: #ccc;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* img 정렬의 기준 */
    /* border: 1px solid red; */
}
.message p strong{
    position: relative; /* span태그 정렬의 기준 */
}
.message p strong span{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    color: var(--color-main);
}
.message img{
    position: absolute;
}
.message img.sun{
    right: -20%;
    top: -45%;
    width: 32%; /* p태그의 넓이의 몇% */
    animation: up_down 3s linear infinite;
}
.message img.cat{
    right: -21%;
    bottom: -36%;
    width: 28%;
    animation: left_right 3s linear infinite;
}
.message img.born{
    right: 7%;
    bottom: -45%;
    width: 11%;
    animation: left_right 3s linear infinite;
}
.message img.dog{
    left: -20%;
    bottom: -36%;
    width: 21%;
    animation: up_down 4s linear infinite;
}
.message img.flower{
    left: -4%;
    top: -23%;
    width: 10%;
    animation: rotate 3s linear infinite;
}
@keyframes up_down {
    0% {transform: translateY(0);}
    50% {transform: translateY(-10%);}
    100% {transform: translateY(0);}
}
@keyframes rotate {
    0% {transform: rotate(10deg);}
    50% {transform: rotate(-10deg);}
    100% {transform: rotate(10deg);}
}
@keyframes left_right {
    0% {transform: translateX(0%);}
    50% {transform: translateX(-10%);}
    100% {transform: translateX(0%);}
}

@media screen and (max-width:1280px){
            .message img.sun{
                right: -5%;
                top: -45%;
            }
            .message img.cat{
                right: -1%;
                bottom: -51%;
            }
            .message img.born{
                right: 28%;
                bottom: -56%;
            }
            .message img.dog{
                left: -7%;
                bottom: -49%;
            }
            .message img.flower{
                left: -4%;
                top: -23%;
            }
}/*media*/
@media screen and (max-width:768px){
            .message img.sun{
                right: 15%;
                top: -78%;
            }
            .message img.cat{
                right: 8%;
                bottom: -96%;
            }
            .message img.born{
                right: 36%;
                bottom: -106%;
            }
            .message img.dog{
                left: 11%;
                bottom: -69%;
            }
            .message img.flower{
                left: 14%;
                top: -51%;
            }
}/*media*/

.adopt{
    background-color: var(--color-main);
    color: var(--color-white);
    padding: clamp(106px, 16.2vw, 162px) 0 clamp(159px, 30vw, 300px) 0;
    text-align: center;
    position: relative; /* rolling_wrap 정렬의 기준 */
}
.adopt h2{
    font-size: var(--font-size-tit);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
    margin: 0 0 clamp(29px, 4.8vw, 48px) 0;
}
.adopt .list_item{
    width: clamp(240px, 34.2vw, 342px);
    /* margin: 0 calc(var(--gap) / 2); */
    margin: 0 -5px;
    transform: scale3d(0.9, 0.9, 1);
    opacity: 0.8;
    transition: transform 0.3s, opacity 0.3s;
}
.adopt .list_item.slick-center{
    transform: scale3d(1, 1, 1);
    opacity: 1;
}
.adopt .list_item a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.adopt .list_item a .photo{
    overflow: hidden;
    height: clamp(240px, 34.2vw, 342px);
    border-radius: 50%;
}
.adopt .list_item a .photo img{
    width: 100%; /* 높이가 비율에 맞게 */
    height: 100%;
    object-fit: cover;
}
.adopt .list_item a strong{
    position: relative;
    z-index: 1; /* z-index는 position값 필수 */
    display: block;
    background-color: var(--color-sub2);
    padding: 1px 19px;
    border-radius: 15px;
    margin: -15px 0 11px 0; /* margin은 마이너스값이 가능 */
}
.adopt .list_item a strong.tmp{
    background-color: var(--color-sub1);
}
.adopt .list_item a span{
    display: block;
}
.adopt .rolling_wrap{
    position: absolute;
    left: 0;
    bottom: clamp(18px, 2.2vw, 22px);
    font-size: clamp(50px, 10vw, 100px);
    font-weight: var(--font-weight-bold);
    color: var(--color-w20);
    white-space: nowrap;
    height: 1.5em;
    width: 100%; /* 가로스크롤바때문에 */
    overflow-x: hidden;
}
.adopt .rolling_wrap .rolling{
    position: absolute; 
    /* 글자의 길이대로 넓이를 인식할 요소가 필요해서 
        일반 글자는 글자가 길면 줄바꿈이 됨... white-space:nowarp으로 줄바꿈 금지
        가로 스크롤 생김 
        가로 스크롤바가 안생기게 막으면 브라우저의 넓이만큼만 인식
        --- absolute로 주고 넓이를 안주면 글자가 존재하는 만큼 넓이로 인식 */
    left: 0;
    bottom: 0;
    /* transform: translateX(-50%); 나의 길이를 기준으로 %를 계산함 */
    animation: adopt_roll 15s linear infinite;
}
@keyframes adopt_roll {
    0%{transform: translateX(0);}
    100%{transform: translateX(-50%);}
}

@media screen and (max-width:768px){
    .adopt .slick-track{
        margin-left: var(--wrapper-margin);
    }
    .adopt .list_item{
        margin: 0 calc(var(--gap) / 2);
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
    .adopt .list_item a .photo{
        border-radius: 10px;
    }
}

.review{
    margin: clamp(110px, 16.7vw, 167px) 0 clamp(95px, 12vw, 120px) 0;
}
.review .wrapper{
    position: relative; /* more 정렬의 기준 */
}
.review h2{
    font-size: var(--font-size-tit);
    font-weight: var(--font-weight-bold);
    color: var(--font-color-tit);
    line-height: var(--line-height-tit);
    margin: 0 0 clamp(20px, 5vw, 50px) 0;
    border-bottom: 1px solid #ededed;
    padding-bottom: 8px; /* border랑 글자 여백 */
}
.review .list_wrap{
    width: calc(100% + var(--gap));
}
.review .list_item{
    width: clamp(240px, 34.2vw, 342px);
    margin: 0 var(--gap) 0 0;
}
.review .list_item a{
    display: block;
}
.review .list_item a .photo{
    overflow: hidden;
    height: clamp(240px, 34.2vw, 342px);
}
.review .list_item a .photo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.review .list_item a h3{
    font-size: var(--font-size-subtit);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
    color: var(--font-color-tit);
    margin: clamp(20px, 2.8vw, 28px) 0 clamp(10px, 1.1vw, 11px) 0;
    /* 1줄제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.review .list_item a p{
    /* 2줄제한 */
    line-height: var(--line-height-default);
    height: calc(var(--line-height-default) * 2em);
    overflow: hidden;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 몇줄 */
}
.review .more{
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 0;
    top: 0;
}
.review .more a{
    display: flex;/* strong- span 좌우배치 */
    align-items: center;
    gap: 12px;
    padding-right: 23px;
    position: relative;/* after 정렬의 기준 */
}
.review .more a::after{
    content: "";
    position: absolute;
    right: 0;
    top: calc(50% - 7.5px);
    width: 15px;
    height: 15px;
    background-image: var(--icon-more);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.review .more a strong{
    font-size: var(--font-size-tit);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
    color: var(--color-sub1);
}
@media screen and (max-width:768px){
    .review h2{
        border-bottom: none;
        padding-bottom: 0;
    }
    .review .more a{
        width: 28px;
        height: 28px;
        border: 1px solid var(--font-color-default);
        border-radius: 50%;
        padding-right: 0;
    }
    .review .more a::after{
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: 11px;
    }
    .review .more a strong{
        display: none;
    }
    .review .more a span{
        display: none;
    }
}

