/* sub페이지에서 호출하는 css 
   sub페이지의 공통 스타일이 들어감 */
@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);
@import url(contents.css);

/* 선택된 메뉴 표시 */
@media screen and (min-width:1025px){ /* 1025px이상에서만 */
    .header .gnb ul.depth1 > li.active > a{
        color: var(--color-sub3);
    }
    .header .gnb ul.depth1 > li.active:has(ul.depth2) > a > span::after{
        background-image: var(--icon-arrow-sub3);
    }
    header.fixed .gnb ul.depth1 > li.active > a{
        color: var(--color-main);
    }
    .header.fixed .gnb ul.depth1 > li.active:has(ul.depth2) > a > span::after{
        background-image: var(--icon-arrow-main);
    }
    .header .gnb ul.depth1 > li.active > ul.depth2 > li.active > a{
        text-decoration: underline;
    }
    .header .sitemap .sitemap_wrap ul.depth1 > li.active > button, 
    .header .sitemap .sitemap_wrap ul.depth1 > li.active > a{
        color: var(--color-sub3);
    }
    .header .sitemap .sitemap_wrap ul.depth1 > li.active > ul.depth2 > li.active > a{
        color: var(--color-sub3);
    }
}
@media screen and (max-width:1024px){/* 1024이하일때 */
    .header .sitemap .sitemap_wrap ul.depth1 > li.active:has(ul.depth2) > button::after{
        transform: rotate(270deg);
    }
    .header .sitemap .sitemap_wrap ul.depth1 > li.active > ul.depth2 > li.active > a{
        font-weight: var(--font-weight-bold);
        color: var(--color-main);
        text-decoration: underline;
    }
}

.sub_visual{
    background: url(../images/sub/sub_visual01.jpg) no-repeat center center / cover;
    color: #fff;
}
.sub_visual.bg2{
    background-image: url(../images/sub/sub_visual02.jpg);
}
.sub_visual.bg3{
    background-image: url(../images/sub/sub_visual03.jpg);
}
.sub_visual.bg4{
    background-image: url(../images/sub/sub_visual04.jpg);
}
.sub_visual.bg5{
    background-image: url(../images/sub/sub_visual05.jpg);
}
.sub_visual .wrapper{
    position: relative; /* snb 정렬의 기준 */
    height: clamp(253px, 40vw, 400px);
}
.sub_visual .breadcrumb{
    padding: clamp(102px, 17.7vw, 177px) 0 5px 0;
}
.sub_visual .breadcrumb ol{
    display: flex; /* li좌우 */
    justify-content: center;
    align-items: center;
    gap: 0 1.412em;
}
.sub_visual .breadcrumb ol li{
    position: relative; /* after 정렬의 기준 */
}
.sub_visual .breadcrumb ol li::before{
    content: "";
    position: absolute;
    left: -0.882em;
    top: 0.412em;
    width: 0.353em;
    height: 0.647em;
    background-image: var(--icon-arrow-w);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.sub_visual .breadcrumb ol li.home::before{
    display: none;
}
.sub_visual .breadcrumb ol li.home a{
    display: block;
    width: 0.824em;
    height: 0.882em;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 13.2857V5.57143C0 5.3 0.0619792 5.04286 0.185938 4.8C0.309896 4.55714 0.48125 4.35714 0.7 4.2L5.95 0.342857C6.25625 0.114286 6.60625 0 7 0C7.39375 0 7.74375 0.114286 8.05 0.342857L13.3 4.2C13.5188 4.35714 13.6901 4.55714 13.8141 4.8C13.938 5.04286 14 5.3 14 5.57143V13.2857C14 13.7571 13.8286 14.1607 13.4859 14.4964C13.1432 14.8321 12.7312 15 12.25 15H9.625C9.37708 15 9.16927 14.9179 9.00156 14.7536C8.83385 14.5893 8.75 14.3857 8.75 14.1429V9.85714C8.75 9.61429 8.66615 9.41072 8.49844 9.24643C8.33073 9.08214 8.12292 9 7.875 9H6.125C5.87708 9 5.66927 9.08214 5.50156 9.24643C5.33385 9.41072 5.25 9.61429 5.25 9.85714V14.1429C5.25 14.3857 5.16615 14.5893 4.99844 14.7536C4.83073 14.9179 4.62292 15 4.375 15H1.75C1.26875 15 0.856771 14.8321 0.514063 14.4964C0.171354 14.1607 0 13.7571 0 13.2857Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.sub_visual .sub_tit{
    text-align: center;
    font-size: clamp(32px, 5vw, 50px);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tit);
}
.sub_visual .snb{
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(50%);
    width: 100%;
    height: var(--snb-h);
    background-color: var(--color-main);
    border-radius: 40px;
}

.sub_visual .snb ul{
    display: flex;
    justify-content: center;
    overflow-y: hidden;/* 위아래 스크롤 바는 숨김 */
    overflow-x: auto; /* 좌우 스크롤바 생성 */
}
.sub_visual .snb ul::-webkit-scrollbar { /* 스크롤바의 영역 */
    display: none;
}
.sub_visual .snb ul li a{
    display: block;
    line-height: var(--snb-h);
    font-size: clamp(16px, 2.2vw, 22px);
    font-weight: var(--font-weight-bold);
    padding: 0 1em;
    white-space: nowrap; /* 줄바꿈 금지 */
}
.sub_visual .snb ul li a span{
    position: relative;
}
.sub_visual .snb ul li.active a {
    color: var(--color-sub3);
}
.sub_visual .snb ul li.active a span::before{
    content: "";
    position: absolute;
    left: -0.5em;
    top: -0.227em;
    width: 0.364em;
    height: 0.364em;
    background-color: var(--color-sub3);
    border-radius: 50%;
}

.page_tit h1{
    margin: clamp(72px, 12.5vw, 125px) 0 clamp(27px, 9.7vw, 97px) 0;
    text-align: center;
    font-size: clamp(24px, 4vw, 40px);
    font-weight: var(--font-weight-bold);
    color: var(--font-color-tit);
}
.contents{
    min-height: 300px; /* 최소높이 */
}
@media screen and (max-width:768px){
    .sub_visual .snb{
        border-radius: 0;
        left: calc(var(--wrapper-margin) * -1);
        width: calc(100% + var(--wrapper-margin) * 2);
    }
    .sub_visual .snb ul{
        justify-content: flex-start;
        padding: 0 var(--wrapper-margin);
    }
}