@import url(pretendard.css);
/****************** Start : 태그의 초기화 **********/
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;/*밑줄삭제*/
}
ul,ol,li{
    list-style: none; /* 앞에 도형제거 */
}
/****************** End : 태그의 초기화 **********/
/****************** Start : 기본스타일 **********/
body{
    font-family: 'pretendard';
    font-size: 17px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.5;
}
.wrapper{
    width: 1260px;
    margin: 0 auto;
}
/****************** End : 기본스타일 **********/

.global h2 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 115px 0 20px 0;
}
.global .sub_tit {
    color: #00b900;
    margin: 0 0 8px 0;
}
.global a {
    color: #00b900;
    border: 1px solid #00b900;
    padding: 8px 32px;
    margin: 30px 0 42px 0;
    display: inline-block;
}
.market {
    margin: 97px 0 0 0;
    background: url(../images/market02.jpg) no-repeat center center / cover;
    color: #fff;
    height: 640px;
    text-align: center;
}
.market h2 {
    font-size: 40px;
    font-weight: 700;
    padding: 115px 0 15px 0;
}
.market a {
    border: 1px solid #fff;
    padding: 8px 32px;
    margin: 30px 0 42px 0;
    display: inline-block;
}