@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.header{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100; /* 맨위.. 절대 이 숫자보다 높은 숫자 주면 안됨 */
    color: #fff;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header .wrapper{
    display: flex; /* logo-gnb-util 좌우배치 */
    justify-content: space-between;
    align-items: center;
}
.header .logo a{
    display: block;
}
.header .logo a img{
    vertical-align: top;
}
.header .gnb .gnb_open{
    display: none; /* 모바일에서만 보임 */
}
.header .gnb .gnb_wrap ul{
    display: flex; /* li를 좌우배치 */
}
.header .gnb .gnb_wrap ul li a{
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 100px;/* header의 높이와 동일하게 */
    padding: 0 22px; /* 좌우여백만 줌 */
}
.header .util .weather{
    position: relative; /* before 정렬의 기준 */
    padding: 0 0 0 42px; /* 아이콘 들어갈 자리 */
    display: flex;/* strong-span 정렬 */
    flex-direction: column; /* 위아래 */
    line-height: 1.3;
}
.header .util .weather::before{
    content: "";/* 필수 */
    position: absolute; /* weather를 기준으로 정렬 */
    left: 0;
    top: 6px;
    width: 35px; /* 아이콘 사이즈 */
    height: 32px;
    background: url(../images/weather.svg) no-repeat center center;
}
.header .util .weather strong{
    font-weight: 700;
}
@media screen and (max-width:768px){
                .header{
                    height: 56px;
                }
                .header .wrapper{
                    margin-right: 0; /* 오른쪽 여백 삭제 */
                }
                .header .logo a img{
                    width: 103px;
                }
                .header .gnb .gnb_open{
                    display: block; /* 모바일에서만 보임 */
                    width: 56px;/* header 높이 */
                    height: 56px;/* header 높이 */
                    background: url(../images/gnb_open.svg) no-repeat center center;
                }
                .header .gnb .gnb_wrap{
                    display: none; /* 모바일에서는 메뉴가 눌러야 나옴 */
                }
                .header .util{
                    display: none; /* 모바일에서는 안나옴 */
                }
}/*@media*/

.visual{
    background: url(../images/visual_bg.jpg) no-repeat center center /cover;
    color: #fff;
    border-radius: 0 0 200px 0;
    text-align: center;
    position: relative; /* before 정렬의 기준 */
}
.visual::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
}
.visual .wrapper{
    height: 900px;
    position: relative;/* picture 정렬의 기준 */
}
.visual h2{
    padding: 341px 0 0 0;
}
.visual .picture{
    display: block;
    width: 190px;
    height: 190px;
    border-radius: 50%; /* 동그라미 */
    background-color: #002180;
    font-weight: 700;
    line-height: 1.3;
    padding: 104px 0 0 0;
    position: absolute; /* wrapper를 기준으로 */
    right: -95px;/* 높이반 */
    bottom: -95px;/* 넓이반 */
}
.visual .picture::before{
    content: "";/*필수*/
    position: absolute; /* picture를 기준으로 정렬 */
    left: 0;
    top: 53px;
    width: 100%;
    height: 34px;
    /* 아이콘을 배경으로 줄때는 사이즈를 안주면 원래 사이즈대로 들어감 
       - contain은 배경이미지를 하나도 짤리지 않게 꽉차게 리사이즈하는 것
         이렇게 아이콘을 배경으로 줄때 사용 */
    background: url(../images/visual_picture.svg) no-repeat center center /contain;
}
.visual .picture:hover{
    color: #23DCE1;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
}
.visual .picture:hover::before{
    background-image: url(../images/visual_picture_on.svg);
    /* background-image로 선언하면 이미지만 교체되고 위치나 반복값은 그대로 상속됨 */
}
@media screen and (max-width:768px){
                    .visual{
                        border-radius: 0 0 30px 30px;
                        background-position: left 30% bottom;
                    }
                    .visual .wrapper{
                        height: 650px;
                        display: flex;
                        justify-content: center; /* 위아래가운데, 좌우의 가운데 */
                        align-items: center;
                    }
                    .visual h2{
                        padding: 0;
                    }
                    .visual h2 img{
                        width: 80%; /* img를 감싸는 h2 넓이의 80% */
                        max-width: 400px; /* 최대넓이 제한 */
                    }
                    .visual .picture{
                        width: 100px;
                        height: 100px;
                        line-height: 1.1;
                        padding: 49px 0 0 0;
                        font-size: 15px;
                        right: 0;
                        bottom: -50px;/* 높이반 */
                    }
                    .visual .picture::before{
                        top: 18px;
                        height: 24px;
                    }       
}/*@media*/

.culture{
    padding: 182px 0 117px 0;
    background-color: #f7f7f7;
}
.culture .wrapper{
    position: relative; /* more정렬의 기준 */
}
.culture .tit{
    margin: 0 130px 0 0; /* 더보기가 들어갈 자리를 여백을 줌 */
}
.culture .tit h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 0 0 13px 0;
}
.culture .tit h2 br{
    display: none; /* pc에서는 줄바꿈 안함 */
}
.culture .list{
    margin: 54px 0 0 0;
}
.culture .list ul{
    display: flex; /* li를 좌우로 배치 */
    justify-content: space-between;
}
.culture .list ul li{
    width: calc(33.33%  -  16px);
    /*  
        100%/li의갯수 - 여백의합/li의갯수
        100%/3 - (24+24)/3
        33.33% - 16px

        100%/4 - (24+24+24)/4
        25% - 18px
    */
}
.culture .list ul li a{
    display: block;
}
.culture .list ul li a .photo{
    overflow: hidden;
}
.culture .list ul li a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
    transition: 0.3s;
}
.culture .list ul li a:hover .photo img{
    transform: scale3d(1.125, 1.125, 1);
}
.culture .list ul li a h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 31px 0 14px 0;
}
.culture .list ul li a h3 span{
    position: relative;/* after 정렬의 기준 */
}
.culture .list ul li a h3 span::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 1px;
    background-color: #1d1d1d;
    transition: 0.3s;
}
.culture .list ul li a:hover h3 span::after{
    width: 100%;
}
.culture .more{
    position: absolute;/* wrapper를 기준으로 정렬 */
    right: 0;
    top: 70px;
    display: block;
    border: 1px solid #3d3d3d;
    border-radius: 30px;
    padding: 7px 42px 6px 28px;
}
.culture .more::after{
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    right: 23px;
    top: 14px;
    width: 12px; /* 아이콘 사이즈 */
    height: 12px;
    background: url(../images/more.svg) no-repeat center center / contain;
    /* 아이콘은 contain */
}
.culture .more:hover{
    background-color: #002180;
    border-color: #002180; /* border색상만 변경되면 border-color만 */
    color: #fff;
}
.culture .more:hover::after{
    /* 배경이미지만 교체되면 background-image만 */
    background-image: url(../images/more_on.svg);
}
@media screen and (max-width:768px){
                .culture{
                    padding: 111px 0 93px 0;
                }
                .culture .tit{
                    margin: 0 40px 0 0; /* 더보기가 들어갈 자리를 여백을 줌 */
                }
                .culture .tit h2{
                    font-size: 28px;
                    margin: 0;
                }
                .culture .tit h2 br{
                    display: block; /* pc에서는 줄바꿈 안함 */
                }
                .culture .tit p{
                    display: none; /* 모바일에서 숨김 */
                }
                .culture .list{
                    margin: 37px 0 0 0;
                }
                .culture .list ul{
                    flex-direction: column;/*flex유지 아래방향으로 전환*/
                    gap: 37px 0; /* 위아래-좌우여백 */
                }
                .culture .list ul li{
                    width: auto; 
                    /* 100%를 주는 것보다 문제가 없다면 auto 좋음 
                       - 블럭요소는 auto를 줘도 100%가 됨... */
                }
                .culture .list ul li a h3{
                    font-size: 20px;
                    margin: 20px 0 13px 0;
                }
                .culture .more{
                    top: 30px;
                    border-radius: 50%;
                    padding: 0;
                    width: 35px;
                    height: 35px;
                }
                .culture .more::after{
                    right: 10px;
                    top: 11px;
                }
                .culture .more span{
                    display: none; /* 글자를 모바일에서 숨김 */
                }
}/*@media*/

.tour{
    margin: 149px 0 125px 0;
}
.tour .wrapper{
    position: relative; /* more 정렬의 기준 */
}
.tour .tit{
    margin: 0 130px 0 0; /* 더보기가 들어갈 자리를 여백을 줌 */
}
.tour .tit h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
}
.tour .tit h2 br{
    display: none; /* pc에서는 줄바꿈 안함 */
}
.tour .list{
    margin: 44px 0 0 0;
}
.tour .list ul{
    display: flex; /* li를 좌우로 배치 */
    justify-content: space-between;
}
.tour .list ul li{
    width: 190px;
}
.tour .list ul li.active{ /* active클래스가 있는 li */
    width: 654px;
}
.tour .list ul li a{
    display: flex; /* h3-p를 세로로 아래로 정렬 */
    flex-direction: column;
    justify-content: flex-end;
    height: 426px;
    background: url(../images/tour01.jpg) no-repeat center center / cover;
    color: #fff;
}
.tour .list ul li.tour02 a{
    background-image: url(../images/tour02.jpg);
}
.tour .list ul li.tour03 a{
    background-image: url(../images/tour03.jpg);
}
.tour .list ul li.tour04 a{
    background-image: url(../images/tour04.jpg);
}
.tour .more{
    position: absolute;/* wrapper를 기준으로 정렬 */
    right: 0;
    top: 4px;
    display: block;
    border: 1px solid #3d3d3d;
    border-radius: 30px;
    padding: 7px 42px 6px 28px;
}
.tour .more::after{
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    right: 23px;
    top: 14px;
    width: 12px; /* 아이콘 사이즈 */
    height: 12px;
    background: url(../images/more.svg) no-repeat center center / contain;
    /* 아이콘은 contain */
}
.tour .more:hover{
    background-color: #002180;
    border-color: #002180; /* border색상만 변경되면 border-color만 */
    color: #fff;
}
.tour .more:hover::after{
    /* 배경이미지만 교체되면 background-image만 */
    background-image: url(../images/more_on.svg);
}
@media screen and (max-width:768px){
                .tour{
                    margin: 117px 0 96px 0;
                }
                .tour .tit{
                    margin: 0 40px 0 0; /* 더보기가 들어갈 자리를 여백을 줌 */
                }
                .tour .tit h2{
                    font-size: 28px;
                    margin: 0;
                }
                .tour .tit h2 br{
                    display: block; /* pc에서는 줄바꿈 안함 */
                }
                .tour .list{
                    margin: 37px 0 0 0;
                }


                .tour .more{
                    top: 30px;
                    border-radius: 50%;
                    padding: 0;
                    width: 35px;
                    height: 35px;
                }
                .tour .more::after{
                    right: 10px;
                    top: 11px;
                }
                .tour .more span{
                    display: none; /* 글자를 모바일에서 숨김 */
                }
}/*@media*/

footer{
    margin: 500px 0 0 0;
}