@import url(fonts.css);
@import url(common.css);

.header{
    height: 100px;
}
.header .wrapper{
    display: flex;/*logo-gnb좌우배치*/
    justify-content: space-between;/*좌우양끝*/
    align-items: center;/*위아래가운데*/
}
.header .gnb ul{
    display: flex; /* li를 좌우로 배치 */
}
.header .gnb ul li a{
    display: block;
    padding: 0 32px;
    line-height: 100px; 
    /* header의 높이와 동일하게 - 글자의 높이가 100이되고 위아래 가운데 배치됨 */
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
}

.visual{
    background: url(../images/visual_bg.jpg) no-repeat center center /cover;
    color: #fff;
    height: 800px;
}
.visual h2{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    padding: 491px 0 24px 0;
}

.biz{
    margin: 202px 0 0 0;
}
.biz .tit{
    text-align: center;
}
.biz .tit h2{
    font-weight: 700;
    color: #153791;
}
.biz .tit p{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 11px 0 0 0;
}
.biz .list{
    margin: 60px 0 0 0;
}
.biz .list ul{
    display: flex;/*li를 좌우로 배치*/
    justify-content: space-between;
}
.biz .list ul li{
    width: 297px;
}
.biz .list ul li .txt{
    text-align: center;
    margin: 0 40px;/* 위아래여백 - 좌우여백 */
}
.biz .list ul li .txt h3{
    font-size: 40px;
    color: #1d1d1d;
    line-height: 1.3;
    margin: 33px 0 11px 0;
}
.biz .list ul li .txt a{
    display: block;
    border: 1px solid #ccc;
    padding: 9px 0 8px 0;
    margin: 18px 0 0 0;
}

.brand{
    margin: 146px 0 0 0;
    background: url(../images/brand_bg.jpg) no-repeat center center /cover;
    color: #fff;
    text-align: center;
    height: 700px;
    padding: 230px 0 0 0;
}
.brand h2{
    font-weight: 700;
    color: #BAD6EB;
}
.brand p{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin: 11px 0 24px 0;
}
.brand a{
    display: inline-block;
    border: 1px solid #fff;
    padding: 8px 25px;
}

.footer{
    background-color: #1D1D1D;
    color: rgba(255, 255, 255, 0.8);
    padding: 78px 0;
}
.footer .f_nav ul{
    display: flex; /* li를 좌우로 배치 */
    gap: 0 43px; /* flex일때만 적용 - 위아래/좌우의 여백 */
}
.footer .f_info{
    margin: 24px 0 20px 0;
    display: flex;/* address-span 좌우배치 */
    gap: 0 21px;
}